:root {
    /* Color */
    --color-black: #000000;
    --color-light-gray: #f4f4f4;
    --color-white: #ffffff;

    /* Fonts Size */
    --font-large: 38px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-small: 14px;

    /* Fonts Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

/* Universal Tags */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-light-gray);
    text-align: center;
}

h1 {
    margin: 8px 0;
}

h2 {
    margin: 8px 0;
}

p {
    margin: 8px 0;
}

button {
    cursor: pointer;
    padding: 10px;
    margin: 8px 0;
    outline: none;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 5px;
    font-weight: var(--weight-semi-bold);
}

/* Main */
.wrapper {
    display: flex;  
    max-width: 100%;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    border-right: 1px solid var(--color-black);
}

main {
    flex: 1;
    padding: 10px 20px;
}

.main__title {
    font-size: var(--font-medium);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 8px;
}

.wealth {
    font-weight: var(--weight-regular);
}

.person {
    display: flex;
    justify-content: space-between;
}

.person__name {
    font-weight: var(--weight-bold);
}

.total {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    padding: 10px;
    margin: 16px 0;
}

.total__price {
    font-weight: var(--weight-bold);
}